@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,500&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Oswald:wght@200;300;400;500&display=swap');
#section_prediction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.conteudo_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  border-radius: 25px;
  flex-direction: column;

}

.conteinar_conteudo_principal {
    width: 25%;
    height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteudo_pricipal_section_img {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  background: rgb(132, 63, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(132, 63, 251, 1) 0%,
    rgba(70, 110, 252, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(132, 63, 251, 1) 0%,
    rgba(70, 110, 252, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(132, 63, 251, 1) 0%,
    rgba(70, 110, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#843ffb",endColorstr="#466efc",GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;

}

.conteudo_pricipal_section_img img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  
}

.informacoes_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  

}

.nome_perfis_main {
    font-family: 'Roboto', sans-serif;
    position: relative;    
}

.nome_perfis_main::after{
    content: "";
    position: absolute;
    padding: 1px;
    background-color: black;
    width: 100%;

}

.icons_perfil{
    padding: 5px;
    
}

.icons_perfil img{
    width: 48px;
    height: 48px;
    margin: 10px;
    cursor: pointer;
}
#prediction_section{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

#prediction_section h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
}
#prediction_section h3,
#prediction_section h2{
  display: flex;
  margin-top: 55px;
  font-family: 'Italiana', serif;
  justify-content: center;
}

.conteudo_Prediction{
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  text-align: left;
}
.conteudo_Prediction img{
  height: 550px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 15px;
  margin: 25px;
  padding: 10px;
}


